.findpw {
  margin-top: 100px;
  padding-bottom: 285px;

  .findpwTitle {
    text-align: center;
    margin-bottom: 20px;
  }

  .findpwContainer {
    margin: 0 auto;
    padding: 20px;
    width: 450px;
    border: 1px solid lightgrey;

    .findpwMethod {
      margin-bottom: 40px;
      text-align: center;

      input {
        margin-right: 3px;
        margin-left: 10px;
      }

      .selectfindWay {
        margin-right: 5px;
      }
    }

    .findpwForm {
      margin: 0px 29px 29px 30px;
      .findpwInput {
        margin-bottom: 10px;
        width: 210px;
        height: 30px;
        border: 1px solid lightgrey;
      }

      .findpwFormName {
        display: inline-block;
        width: 130px;
      }
    }
  }
  .findpwBtn {
    display: block;
    margin: 0 auto;
    padding: 8px auto;
    width: 350px;
    height: 40px;
    border: 1px solid lightgrey;
    text-align: center;
    color: white;
    background-color: black;

    &:hover {
      background-color: grey;
    }
  }
}
