@mixin detail-flex-center{
  display: flex;
  justify-content: center;
}

.productDetail {
  @include detail-flex-center;
  flex-wrap: nowrap;

  .productDetailImg{
    justify-content: center;
    margin: auto;
    position: relative;
    padding-bottom: 30px;

    .mainSlide{
      position: relative;
      justify-content: center;
      width: 500px;
      padding-right: 10px;
      overflow-x: hidden;

      .mainSlideImgs{
        width: 2800px;
        transition: all 300ms ease 0s;
        overflow: hidden;

        .mainSlideImg{
          display: table;
          float: left;
          width: 500px;
          height: 500px;
        }
      }
    }

    .productSlideImgs {
        width: 100px;
        margin-left: 10px;
      .productSlideImg{
        padding-right: 10px;
        padding-bottom: 5px;
      }
    }
  }
}