@mixin findidInput {
  margin-bottom: 10px;
  width: 210px;
  height: 30px;
  border: 1px solid lightgrey;
}

.findid {
  margin-top: 100px;
  padding-bottom: 285px;

  .findidTitle {
    text-align: center;
    margin-bottom: 20px;
  }

  .findidContainer {
    margin: 0 auto;
    padding: 20px;
    width: 450px;
    border: 1px solid lightgrey;

    .findidMethod {
      margin-bottom: 40px;
      text-align: center;

      input {
        margin-right: 3px;
        margin-left: 10px;
      }

      .selectfindWay {
        margin-right: 5px;
      }
    }

    .findidForm {
      margin: 0px 29px 29px 30px;
      .findidName {
        .findidNameInput {
          @include findidInput;
        }
      }
      .findidMail {
        .findidMailInput {
          @include findidInput;
        }
      }
      .findidPhone {
        .findidPhoneInput {
          @include findidInput;
        }
      }
      .findidFormName {
        display: inline-block;
        width: 130px;
      }
    }
  }
  .findidBtn {
    display: block;
    margin: 0 auto;
    padding: 8px auto;
    width: 350px;
    height: 40px;
    border: 1px solid lightgrey;
    text-align: center;
    color: white;
    background-color: black;

    &:hover {
      background-color: grey;
    }
  }
}
