.findFormLayout {
  margin: 0px 29px 29px 30px;

  .findFormLayoutName {
    display: inline-block;
    width: 130px;
  }
  .findFormLayoutInput {
    margin-bottom: 10px;
    width: 210px;
    height: 30px;
    border: 1px solid lightgrey;
  }
}
.findFormLayoutBtn {
  display: block;
  margin: 0 auto;
  padding: 8px auto;
  width: 350px;
  height: 40px;
  border: 1px solid lightgrey;
  text-align: center;
  color: white;
  background-color: black;

  &:hover {
    background-color: grey;
  }
}
